.linea-uno {
    background-color: black;
    max-width: 100%;
    color: white;
    text-align: center;
    position: relative;
}
.linea-dos {
    background-color: white;
    max-width: 100%;
    height: auto;
}