html {
    box-sizing: border-box;
    background-color: black;
}
body {
    background-color: black;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}
.linea-uno {
    background-color: black;
    max-width: 100%;
    min-height: auto;
    color: white;
    text-align: center;
    padding: 0;
    
}
.linea-dos {
    background-color: rgb(241, 239, 239) !important;
    max-width: 100%;
    min-width: auto;
    font-size:larger;
    color: black;
    padding: 0px 0px 6px;
}
#logo {
    max-height: 50px;
    
}
.logo button {
    border: none;       
}
.menu-2 {
    flex-direction: row;
}
#menu-3 {
    flex-direction: row;
}
#menu-3 li{
    font-weight:300;
    color: black;
}


#footer {
    position: relative;
    background-color: black;
    margin-top: 125px;
}
#footer .overlay{
    position: absolute;
    color: aliceblue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
}
#footer .overlay img{
    width: 100%; 
}
#footer .overlay p {
    font-size: 25px ;
}
#footer .overlay button {
    position: absolute;
    font-size: 15px ;
    border-radius: 0;
    padding: 10px 65px;
    margin: 22px;
    right: 5%;
}
#footer .s-cliente ~p {
    font-size: 20px;

}
#footer img {
    
    width: 100%;
    object-fit: cover;
    filter: opacity(20%);
}
.s-cliente {
    color: black;
}